body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgb(194, 183, 253), pink, rgb(230, 230, 159));
  color: rgb(16, 16, 16);
}
header {
   background: linear-gradient(160deg, #000428, #004e92);
  color: white;
  text-align: center;
  padding: 20px;
}
nav {
  background-color: #a29ce6;
  display: flex;
  justify-content: center;
  padding: 10px;
}
nav a {
  color: rgb(43, 42, 42);
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}
nav a:hover {
  background-color: rgb(93, 79, 110);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
 .container { 
  padding: 20px;
  max-width: 900px;
  margin: auto;
 } 
.card {
  background-color: rgb(239, 240, 242);
  border: 1px solid #92b0c1;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 2px 5px rgb(233, 233, 236);
}
.card img {
  width: 100%;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}
input,
textarea,
button {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
button {
  background-color: rgb(92, 64, 13);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(19, 44, 19);
  text-transform:uppercase;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}
h2 {
  color: rgb(24, 55, 100);
}
footer {
  background-color: rgb(83, 96, 169);
  color: white;
  text-align: center;
  padding: 20px;
}
